<h1>Devour the Burger?</h1>

<h2>Devour or Add Yummy Burgers!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Burgers you Devoured</h2>



<h2>Add A Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="new-burger">Name of your new burger</label>
            <input type="text" name="new-burger" id="new-burger">
        </div>

        <button type="submit" id="burger-submit">Add Burger</button>
    </form>
</div>

