*{
    background: url("../images/old_map_@2X.png");
    text-align: center;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 25px;
}

h2{
    margin-bottom: 25px;
}

#devour-button{
    width: 200px;
}